@import url('//db.onlinewebfonts.com/c/88dc1d3425c59009eea0b3f1d47dad4d?family=Lumios-Marker');
@tailwind base;
@tailwind components;
@tailwind utilities;

div#__next {
  position: relative;
  z-index: 1;
}

@layer components {
  div[data-testid=flowbite-navbar-collapse] ul {
    font-size: 1rem !important;
  }

  nav.fixed div.justify-between {
    justify-content: space-around;
  }

}